* {
	margin: 0;
	padding:  0;
	box-sizing: 0;
}

html {
	background: #181818;
	height: auto;
	width: auto;
}

body {
	top: 50%;
	position: relative;
	display: block;
}

p, a {
	font-family: Montserrat;
	font-weight: 600;
}

header {
	text-align: center;
	display: block;
	position: relative;
	user-select: none;
	pointer-events: none;
}

h1 {
	font-family: Barlow Condensed;
	margin: 50px auto 0 auto;
	padding: 10px;
	transform: rotate(-5deg);
	font-style: italic;
	font-size: 80px;
	letter-spacing: -3px;
	color: #e0e0e0;
}

h2 {
	font-family: Montserrat;
	font-style: italic;
	transform: rotate(-5deg);
	color: #ECB213;
	font-size: 20px;
	margin-top: -22px;
}

main {
	border-bottom: 10px solid #134DEC;
	text-align: center;
	margin: 50px 10% 30px 10%;
	padding: 10px;
	background-color: #e0e0e0;
}

main a, p {
	color: #181818;
}

main a:hover {
	background-color: #ECB213;
}

h3 {
	font-family: Montserrat;
}

iframe {
	padding: 5px;
}

ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

li {
	display: inline-block;
	margin: 5px;
	background: #ecb213;
}

li a {
	text-decoration: none;
	display: block;
	padding: 30px 30px;
	font-weight: 700;
	text-transform: uppercase;
	transition: .2s;
}

li a:hover {
	background-color: #e0e0e0;
	border: 2px solid #ecb213;
	transition: .2s;
}

.about {
	padding-top: 15px;
}

footer {
	margin-top: -10px;
	text-align: center;
}

footer p {
	color: #e0e0e0;
}